/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--bg-color, #000028);
  min-inline-size: 375px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
}

/* Header & decoration */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-block-size: 668px;
  padding: 20px 10px 0;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__theme-menu {
  display: grid;
  align-items: center;
  justify-content: end;
  margin-block-end: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--accent-color, #FF0070);
  text-align: center;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--accent-color) 1px solid;
}

.header__title {
  padding-block-start: 5px;
  display: flex;
  flex-wrap: wrap;
  color: #DB00FF;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vi, 9.8125rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: var(--font-weight-title);
}

.header__page-overview {
  /* temporarily added */
  block-size: 117px;
  align-self: center;
  margin-block-end: 2rem;
}

.title-decor {
  color: var(--section-title-color);
  font-size: var(--main-font-size);
  background-color: var(--accent-color);
}

/* Main sections */

.main {
  display: grid;
  grid-auto-flow: row;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: var(--section-gap);
}

.article {
  display: grid;
  gap: 10px;
}

.small-title {
  font-weight: var(--main-font-weight);
}

.main__images {
  display: grid;
  grid-template-columns: 100vi;
  grid-auto-flow: row;
  gap: 10px;
}

.main-images-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}