/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--bg-color, #000028);
  min-inline-size: 375px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
}

/* Header & decoration */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  padding-inline: var(--padding);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorated-zone {
  block-size: 100%;
  position: relative;
}

.decoration-text {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  line-height: 25px;
}

.decoration-text::after {
  content: "";
  position: absolute;
  inline-size: 5px;
  block-size: 5px;
  border-radius: 50px;
  color: var(--accent-color);
  box-shadow: 0px 0px 2px 4px var(--accent-color);
  background-color: var(--accent-color);
  top: 11px;
  right: -15px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__theme-menu {
  display: grid;
  align-items: center;
  justify-content: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--accent-color, #FF0070);
  text-align: center;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--accent-color) 1px solid;
}

.title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vi, 9.8125rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: var(--font-weight-title);
}

.header__title {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.header__page-overview {
  block-size: 117px;
  align-self: center;
  margin-block-end: 1rem;
}

.title-decor {
  color: var(--section-title-color);
  font-size: var(--main-font-size);
  font-weight: var(--font-weight-title);
  background-color: var(--accent-color);
}

/* Main sections */

.main {
  display: grid;
  grid-auto-flow: row;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: var(--section-gap);
}

.section-description {
  color: var(--accent-color);
}

.article {
  display: grid;
  gap: 10px;
}

.link {
  text-shadow: var(--link-shadow);
  text-decoration: none;
}

.small-title {
  font-weight: var(--main-font-weight);
}

.main__images {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.main__images-image {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
}